.l{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding-bottom:10px;
    width: 450px;
    border-radius: 20px;
    height: 360px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:20px;
}
.text{
    color:rgb(103, 37, 103);
    font-size: 20px;
    font-weight: 700;
}
.underline{
    width:90px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}
.inputs{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 300px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin:0px 30px;
}

.input input{
    height: 40px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
}
.submit-container{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    background: purple;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}
.submit:hover{
    font-size: 22px;
    width: 160px;
    height: 50px;
    transition: 0.3s ease-in-out;
}
.gray{
    background: white;
    color: black;
}