/* .ll{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding-bottom:10px;
    width: 450px;
    border-radius: 20px;
    height: 500px;
}
.headerl{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.textl{
    color:rgb(103, 37, 103);
    font-size: 30px;
    font-weight: 700;
}
.underlinel{
    width:90px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}
.inputsl{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputl{
    display: flex;
    align-items: center;
    margin-top:auto;
    width: 300px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}
.input1 img{
    margin:0px 30px;
}

.input1 input{
    height: 40px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
}
.submit-containerl{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 30px auto;
    align-items: center;
}
.submitl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    background: purple;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
.submitl:hover{
    color: #000000;
    font-size: 22px;
    transition: .2s ease-in-out;
}
.grayl{
    background: white;
    color: black;
} */